body { background-color: #191970;}
body article{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Georgia, sans-serif; font-weight: bold; font-size:xx-large; color: wheat;}
body {color: lightskyblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Georgia, sans-serif;font-size: larger;}
body ul{color:lightskyblue;}
a{color:indianred;}
header{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Georgia, sans-serif;font-weight: lighter;font-size: medium;}
body {
	color: #8f8f8f;
	font: 12px Comic Sans MS, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
.flex-row-div
{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.flex-col-div-space-around
{
    align-items: center;
    justify-content: space-around;
}
.flex-col-div
{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    min-height: 250px;
}
.Test
{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
CSS-код:

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
